.btn::after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  
  .btn:hover::after {
    width: 100%;
    background: white;
  }

  .btn:active {
    color: gray;
  }
  
  .btn {
    background: transparent;
    border: transparent;
    text-decoration:none;
    line-height: 130%;
    text-align: center;
    font-size: medium;
    color: white;
  
  }
  