body {
  height: 500vh;
  background: linear-gradient(
    to bottom,
    rgb(246, 173, 173) 0%,
    rgb(246, 173, 173) 10%,
    rgb(169, 240, 169) 10%,
    rgb(169, 240, 169) 25%,
    rgb(149, 209, 247) 25%,
    rgb(149, 209, 247) 45%,
    blanchedalmond 45%,
    blanchedalmond 100% 
  );
}

.contentSkill {
  margin-top : 10%;
  color:white;
  align-items: center;
}

.contentProject {
  margin-top : 15%;
  color:white;
}