body {
  height: 500vh;
  background: linear-gradient(
    to bottom,
    rgb(246, 173, 173) 0%,
    rgb(246, 173, 173) 10%,
    rgb(169, 240, 169) 10%,
    rgb(169, 240, 169) 23%,
    rgb(149, 209, 247) 23%,
    rgb(149, 209, 247) 45%,
    blanchedalmond 45%,
    blanchedalmond 100% 
  );
}

.contentSkill {
  margin-top : 10%;
  color:white;
  display: flex;
}

.title {
  font-size: 200%;
  font-weight: bold;
  margin-left: 5%;
}

th {
  font-size: 150%;
  border-width:1px;
  border-style:solid;
  border-color:black;
  padding: 10px;
}

.tableau {
  border-spacing: 50px;
  margin-top : 5%;
  align-items: center;
  margin-left: 10%;
}